@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
    scroll-behavior: smooth !important;
}

body {
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.medium-heading {
    position: relative;
    padding-left: 10px;
}

.medium-heading::before {
    content: "";
    position: absolute;
    border: 2px solid cyan;
    border-radius: 8px;
    height: 100%;
    left: 0
}